<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Profesor</title>
</head>
<body>
    <h1 th:text="'Detalles del profesor: ' 
                + ${profesor.nombre} + ' ' 
                + ${profesor.primerApellido} + ' '
                + ${profesor.segundoApellido}"></h1>

    <h2 th:text="'Facultad: ' + ${profesor.facultad.nombre}"></h2>

    <div th:if="${profesor.telefonos.size() > 0}">
        <h2>Telefonos: </h2>
        <ul>
            <li th:each="telefono : ${profesor.telefonos}" 
                th:text="${telefono.numero}"></li>
        </ul>
    </div>

    <div th:if="${profesor.emails.size() > 0}">
        <h2>Correos: </h2>
        <ul>
            <li th:each="email : ${profesor.emails}"
                th:text="${email.direccion}"></li>
        </ul>
    </div> 

    <div th:if="${profesor.foto != null}">
        <h2>Foto: </h2>
        <img th:src="@{/imagenes/}+${profesor.foto}" alt="Foto del Profesor" style="max-width:200px;">
    </div>

    <a th:href="@{/profesores}">Volver al listado</a>
</body>
</html>