<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Listado de Estudiantes</title>
</head>
<body>
	<h1>Listado de Estudiantes</h1>
	<div>
		<a th:href="@{/estudiantes/Alta}">Alta Estudiante</a>
	</div>
	<table>
		<thead>
            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Genero</th>
                <th>Facultad</th>
            </tr>
        </thead>
        <tbody>
        	<tr th:each="estudiante : ${estudiantes}">
        		<td th:text="${estudiante.nombre}"></td>
        		<td th:text="${estudiante.primerApellido}"></td>
        		<td th:text="${estudiante.segundoApellido}"></td>
        		<td th:text="${estudiante.genero}"></td>
        		<td th:text="${estudiante.facultad.nombre}"></td>
        	</tr>
        </tbody>
	</table>
</body>
</html>